.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 610px;

  padding: 20px;

  background-color: $gray-950;

  border: 1px solid $gray-800;
  border-radius: 8px;

  overflow: hidden;
}

.text {
  font-size: 16px;
  line-height: 24px;

  font-weight: 450;

  color: $white;

  margin-bottom: 16px;
}

.label {
  font-size: 14px;
  line-height: 20px;

  font-weight: 400;

  color: $gray-400;

  margin-bottom: 8px;
}    

.separator {
  width: 108%;
  height: 1px;

  transform: translateX(-4%);

  background-color: $gray-800;

  margin-bottom: 24px;
}

.linksGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 16px;

  width: 100%;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  font-size: 16px;
  line-height: 24px;
  font-weight: 450;

  color: $gray-950;
  background-color: $gray-50;

  padding: 12px 24px;
  border-radius: 6px;

  transition: transform 0.3s;

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.98);
  }
}