$white: #ffffff;
$black: #0A0A0AE5;
$gray-400: #8A8A8A;
$gray-600: #5C5C5C;
$gray-800: #2E2E2E;
$gray-50: #DBDBDB;
$gray-950: #0A0A0A;
$gray-900: #141414;
$content-white: #EEEEEE;
$token-primary: #F8F8F8;
$token-secondary: #787A82;
$button-primary: #FF5A1F;
$button-secondary: #3B3D41;
$button-default: #1E1F21;
$button-default-hover: #464545;
$button-primary-hover: #f37e54;
$button-secondary-hover: #2b2c2e;