.container {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px 180px;

  background: #0A0A0AE5;
  z-index: 100;
}

.linksGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.link {
  font-size: 14px;
  line-height: 20px;

  font-weight: 400;

  color: $gray-400;

  transition: color 0.3s ease, text-decoration 0.3s ease;

  &:hover {
    color: $white;
    text-decoration: underline;
  }
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  
  min-width: 0px;
}

.username {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  color: $white;

  max-width: 160px;        
  white-space: nowrap;     
  overflow: hidden;         
  text-overflow: ellipsis;  
}

@include media(ld) {
  .container {
    padding: 20px 30px;
  }

  .linksGroup {
    gap: 16px;
  }

  .username {
    max-width: 120px;
  }
}

@include media(desktop) {
  .container {
    flex-wrap: wrap;
  }

  .user {
    order: 1;
  }

  .linksGroup {
    width: 100%;
    order: 2;
    margin-top: 16px;
  }
}


@include media(mobile) {
  .link {
    font-size: 14px;
    line-height: 16px;
  }

  .linksGroup {
    gap: 10px;
  }
}